
.container-outer-box1{
    width: 1136px; 
    /* height: 534px;  */
    background-color: white; 
    border-radius: 2%;
    margin-top: -10px;
}
.search-box{
    background-color: #ffffff;
    width: 946px;
    margin-left: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 12px;
    height: 50px;
    margin-top: 0px;
}
.search-box::placeholder{
    color: black;
    
}
.searchButton{
    background-color: black;
    color: white;
    border: none;
    width: 103px;
    height: 50px;
    border-radius: 10px;
}
.Navbar-search{
    margin-top: -300px;
}
.buttons{
    margin-top: 40px;
    margin-left: 180px;
}
.btn{
    margin-left: 80px;   
    border-color: rgb(67, 67, 67);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: medium;
}

.like{
    font-size:medium;
}